@import lib/config.sass
@import lib/nav_bar.sass

.content
    display: flex
    flex-direction: column

.bodyelement
    margin: 1em
    text-align: center

.group-container
    flex-grow: 1
    
    section
        box-sizing: content-box
        display: flex
        margin: 0em 4em
        flex-wrap: wrap

        .button
            display: inline-block
            padding: 2em 1em
            margin: 1em
            flex-grow: 1
            flex-basis: 20em

            border-radius: 8px
            font-size: 1.2em
            text-align: center
            text-decoration: none
            color: white
            pointer-events: none

            h1, h4
                font-weight: normal

.overviewbox
    color: black
    background-color: #c4cccd
    border: 2px solid #c4cccd
    border-radius: 8px
    font-weight: normal
    text-align: center
    margin: 4em
