@import lib/config.sass
@import lib/nav_bar.sass

.bodyelement
    padding-left: 16px

.button
    border-radius: 8px
    color: white
    padding: 16px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
    margin: 4px 2px
    border: 1px solid #000
    pointer-events: none
    min-width: 30%

    h1, h4
        font-weight: normal

    @media screen and (max-width: 400px) 
        h1, h4
            font-size: 4vw
        
        

.button1
    background-color: #ea3e7e
.button2
    background-color: #c541ec
.button3
    background-color: #ff645c
.button4
    background-color: #0e80ff

section
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto auto
    grid-gap: 10px
    grid-auto-flow: rows
    height: 40%
    width: 80%
    margin-left: auto
    margin-right: auto

.overviewbox
    color: black
    font-weight: normal
    background-color: #c4cccd
    text-align: center
    width: 80%
    border: 2px solid
    border-color: #c4cccd
    border-radius: 8px
    margin-top: 10%
    margin-left: auto
    margin-right: auto
