@import lib/config.sass
@import lib/nav_bar.sass

.bodyelement
    margin: 2em
    text-align: center

section
    box-sizing: content-box
    display: flex
    margin: 2em 4em
    height: 28em
    flex-wrap: wrap

    .button
        display: inline-block
        padding: 1em
        margin: 1em
        flex-grow: 1
        flex-basis: calc(50% - 5em)
        height: 10em

        border-radius: 8px
        font-size: 16px
        text-align: center
        text-decoration: none
        color: white
        pointer-events: none

        h1, h4
            font-weight: normal

.overviewbox
    color: black
    background-color: #c4cccd
    border: 2px solid #c4cccd
    border-radius: 8px
    font-weight: normal
    text-align: center
    margin: 4em
