
.navbar
    position: fixed
    top: 0
    width: 100%
    background-color: #222
    z-index: 1

    #header
        display: flex
        align-items: center
        width: 100%

        #logo
            flex-basis: 100%
            flex-grow: 1
            width: 0px
            max-width: 300px

        #icon
            text-align: right
            flex-grow: 1
            color: white
            font-size: 2em
            padding: 0.4em

    #navlinks
        overflow: hidden
        position: relative
        display: none

        a
            width: 100%
            display: block
            color: #c4cccd
            padding: 16px 18px
            text-decoration: none
            text-align: center
            font-size: 16px

            &:hover
                background-color: #22a05a

    hr
        border-color: #22a05a
