
.navbar
    #header
        display: flex
        align-items: center

        #logo
            max-width: 600px
            width: 90%

        #icon
            text-align: right
            flex-grow: 1
            color: white
            font-size: 2em
            padding: 0.4em

    #navlinks
        overflow: hidden
        position: relative
        display: none

        a
            width: 100%
            display: block
            color: #c4cccd
            padding: 16px 18px
            text-decoration: none
            font-size: 16px

            &:hover
                background-color: #22a05a
