@import config.sass
@import index.sass

.repeat-list
    border-top: solid #DDD 1px

    .repeat
        display: flex
        padding: 1em
        border-bottom: solid #DDD 1px
        align-items: center

        #name
            flex-basis: 100%

        i
            margin: 0em 0.4em
            font-size: 1.5em
            cursor: pointer

.add-repeat-button
    position: fixed
    bottom: 0
    right: 0
    font-size: 4em !important
    margin: 0.2em
    color: #22a05a
    cursor: pointer

.add-repeat
    position: fixed
    width: 100%
    top: $header-height
    z-index: 1
    display: none

    background-color: $background-color
    border-bottom: solid white 1px

    h1
        width: 100%
        text-align: center

    .field
        margin: 1em 1.5em
        display: flex
        flex-direction: row

        .name
            flex-grow: 1
        .input
            flex-grow: 0
            width: 11em
    
    .done-buttons
        display: flex
        flex-direction: row-reverse
        justify-items: center
        align-items: flex-end
        flex-grow: 1
        margin: 1em 1.5em

        button
            border: none
            height: 3em
            padding: 1em
            margin-left: 0.5em
            background-color: #22a05a
            color: white
