@import config.sass
@import nav_bar.sass

body
    font-family: Arial, Helvetica, sans-serif
    color: #c4cccd
    background-color: #222
    margin: 0
    padding-top: $header-height + 1em

#budget
    color: #c4cccd
    border: none
    background-color: transparent
    display: inline-block
    font-size: 52px
    width: 35%

p
    margin: 0
    padding: 0

#budgettxt
    display: inline-block
    font-size: 52px
    margin-left: 28%

.settingscontainer
    width: 80%
    margin-left: auto
    margin-right: auto

.bodyelement
    padding-left: 16px

#weekly
    display: inline-block
    margin-left: 25%

#monthly
    display: inline-block

.submitbtn
    margin-left: 25%
    font-size: 28px
    color: black
    font-weight: normal
    background-color: #c4cccd
    text-align: center
    width: 50%
    border: 2px solid
    border-color: #c4cccd
    border-radius: 8px
    margin-top: 10%

#currency
    background-color: #c4cccd
    color: black
    margin-left: 19%
    font-size: 28px
    text-align: center
    width: 62%
    border: 2px solid
    border-color: #c4cccd
    border-radius: 8px


