@import lib/config.sass
@import lib/nav_bar.sass
@import lib/input_field

.year
    position: sticky
    display: flex
    align-items: center
    background-color: #222
    width: 100%
    top: 0px
    z-index: 1
    padding-top: 0.4em
    padding-bottom: 0.4em

    i
        color: white
        font-size: 2em
        padding: 0em 1em
        cursor: pointer

    #center
        font-size: 2em
        text-align: center
        flex-basis: 100%

        i
            font-size: 1em
            padding: 0px
    
    &::after
        position: absolute
        content: ''
        width: 100%
        bottom: -1px
        height: 1px
        background-color: white

.add-transaction
    display: none
    background-color: $background-color
    border-bottom: solid white 1px

.transaction-list
    display: flex
    flex-direction: row
    padding: 1em
    padding-top: 3em
    min-height: 100%
    flex-wrap: wrap

    .week
        flex-basis: 60em
        flex-grow: 1

        & > text
            display: inline-block
            width: 100%
            text-align: right
            font-size: 1.1em
            font-weight: bold

        .day
            position: relative
            padding: 0em 1em
            margin-bottom: 1em

            h1
                font-size: 1.1em
                padding: 0.4em 0em
                margin: 0

            #items
                display: flex
                flex-direction: column
                font-size: 1em

                div
                    display: flex
                    flex-direction: row
                    width: 100%
                    
                    #place
                        flex-grow: 1
            
            &::before
                content: ''
                position: absolute
                width: 95%
                left: 0
                top: 0
                height: 0.1em
                background-color: #c4cccd
                opacity: 0.25
                margin-left: 2.5%
