<div class="navbar">
    <div id="header">
        <a id="logo" href="/"><img src="logotransparent.png"></a>
        <a href="javascript:void(0);" id="icon" onclick="showHideDropdown()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div id="navlinks">
        <a href="spending.html" class="{{ spending }}">Summary</a>
        <a href="transaction_view.html" class="{{ transactions }}">Spending</a>
        <a href="repeat.html" class="{{ repeat }}">Recurring Payments</a>
        <a href="shopping_list.html" class="{{ shopping_list }}">Shopping List</a>
        <a href="settings.html" class="{{ settings }}">Settings</a>
    </div>
</div>

<script>
function showHideDropdown() 
{
    var x = document.getElementById("navlinks")
    if (x.style.display === "block")
        x.style.display = "none"
    else
        x.style.display = "block"
}
</script>
